*, ::after, ::before {
  box-sizing: border-box;
}

.header {
  margin: auto;
}
.add_contact {
  margin-top: 60px;
}
.content {
  display: flex;
  font-size: large;
  flex-direction: column;
  margin:10px 0;
}
#trash_icon {
  font-size: large;
  cursor: pointer;
}
#trash_icon:hover {
  padding: 5px 0;
  margin: 5px;
  font-size: x-large;
  transition: .8s;
}